@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
  font-size: 12px;
}

:root {
  --squareBgColor: #ff4500;
  --textColor: whitesmoke;
}

.Container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(86, 148, 255);
}

.Board {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 10vh;
}

/* Canvas */
.Canvas {
  width: 90vmin; /* Use vmin to ensure it's always square */
  height: 90vmin; /* Use vmin to ensure it's always square */
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(216, 1fr);  /* 216 columns */
  grid-template-rows: repeat(216, 1fr);     /* 216 rows */
  aspect-ratio: 1;  /* Ensures the grid stays square */
  max-width: 90vmin;  /* Limit the width to maintain square shape */
  max-height: 90vmin; /* Limit the height to maintain square shape */
}

/* Loading */
.Loading {
  width: 80vh;
  height: 80vh;
  display: grid;
  place-items: center;
}

.Loading_Text {
  font-size: 2em;
  color: var(--textColor);
}

/* Square */
.Square {
  width: 100%; /* Make the square take up the full grid cell */
  height: 100%; /* Ensure the height is 100% of the grid cell */
  border: 1px solid #07070714;
  transition: background-color 0.3s ease;
}

.Square:hover {
  background-color: var(--squareBgColor) !important;
}

/* Profile */
.Profile {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  color: var(--textColor);
}

.Profile .Btn {
  color: var(--textColor);
}

/* Tools */
.Tools {
  display: grid;
  place-items: center;
  position: sticky;
  top: 0;
  padding: 5px;
  width: 100%;
  color: var(--textColor);
  background-color: rgb(0, 94, 255);
}

.Auth-Button {
  border: none;
  color: var(--textColor);
  background-color: transparent;
  width: 100%;
  font-size: 1em;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

/* Palette */
.Palette {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.Palette-item {
  margin: 2px;
  width: 15px;
  height: 15px;
  border: 1px solid rgb(215, 221, 255);
  border-radius: 50%;
}
